.ant-layout-sider {
  height: 100vh !important;
}

.app-menu-item {
  height: 50px !important;
  font-size: 15px !important;
}

.ant-menu-item-selected[class~="app-menu-item"] {
  background-color: white !important;
  width: 111% !important;
  border-radius: 25px 0px 0px 25px !important;
}

.ant-menu-item-selected[class~="app-menu-item"] .ant-menu-title-content {
  color: #fb6d3a !important;
}
.app-menu-item .ant-menu-item-icon {
  color: #fb6d3a !important;
}

.app-menu {
  padding-left: 15% !important;
}

.app-content {
  background-color: white;
}

.Avatar {
  height: 45px;
  width: 45px;
  border: 2px dashed #ff5c00;
}

.skip-meet-button:hover {
  background-color: #22394d !important;
}

.join-meet-button:hover {
  color: #ff975c !important;
}

.ant-modal-close {
  color: grey;
}

.contact-anchor {
  color: #72849a;
}

.contact-anchor:hover {
  color: white;
}
